
<h1>Lista de tareas</h1>
<% @todos.each do |todo| %>
    <div class="well">
    <%= todo.description %>
    <%= todo.completed %>
    </div>
<% end %>
<%= link_to('Nueva Tarea', todos_new_path, class:'btn btn-primary') %>
