<h3>Detalle de tarea</h3>
<br>
<br>
<div class="well">
    <h5 class="description"><%= @todo.description  %></h5>
    <p class="status <%= check_if_completed(@todo)[0] %>"> <%= check_if_completed(@todo)[1]   %> </p>
</div>
